App_WebReferences/ComponenteAcesso/Permissao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Funcionalidade">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodigoUsuario" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CodigoFuncionalidade" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FuncionalidadeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FuncionalidadeResult" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CodigoAplicacao" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ObterUsuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterPerfil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodigoUsuario" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CodigoAplicacao" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterPerfilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ObterPerfilResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodigoUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObterLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterNome">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodigoUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterNomeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObterNomeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Programador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodigoUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProgramadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProgramadorResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetorUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodigoUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetorUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetorUsuarioResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObterPessoa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodigoUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterPessoaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ObterPessoaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterAcesso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterAcessoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ObterAcessoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterSessionID">
        <s:complexType />
      </s:element>
      <s:element name="ObterSessionIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObterSessionIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FuncionalidadeSoapIn">
    <wsdl:part name="parameters" element="tns:Funcionalidade" />
  </wsdl:message>
  <wsdl:message name="FuncionalidadeSoapOut">
    <wsdl:part name="parameters" element="tns:FuncionalidadeResponse" />
  </wsdl:message>
  <wsdl:message name="ObterUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ObterUsuario" />
  </wsdl:message>
  <wsdl:message name="ObterUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ObterUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ObterPerfilSoapIn">
    <wsdl:part name="parameters" element="tns:ObterPerfil" />
  </wsdl:message>
  <wsdl:message name="ObterPerfilSoapOut">
    <wsdl:part name="parameters" element="tns:ObterPerfilResponse" />
  </wsdl:message>
  <wsdl:message name="ObterLoginSoapIn">
    <wsdl:part name="parameters" element="tns:ObterLogin" />
  </wsdl:message>
  <wsdl:message name="ObterLoginSoapOut">
    <wsdl:part name="parameters" element="tns:ObterLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ObterNomeSoapIn">
    <wsdl:part name="parameters" element="tns:ObterNome" />
  </wsdl:message>
  <wsdl:message name="ObterNomeSoapOut">
    <wsdl:part name="parameters" element="tns:ObterNomeResponse" />
  </wsdl:message>
  <wsdl:message name="ProgramadorSoapIn">
    <wsdl:part name="parameters" element="tns:Programador" />
  </wsdl:message>
  <wsdl:message name="ProgramadorSoapOut">
    <wsdl:part name="parameters" element="tns:ProgramadorResponse" />
  </wsdl:message>
  <wsdl:message name="SetorUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:SetorUsuario" />
  </wsdl:message>
  <wsdl:message name="SetorUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:SetorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ObterPessoaSoapIn">
    <wsdl:part name="parameters" element="tns:ObterPessoa" />
  </wsdl:message>
  <wsdl:message name="ObterPessoaSoapOut">
    <wsdl:part name="parameters" element="tns:ObterPessoaResponse" />
  </wsdl:message>
  <wsdl:message name="ObterAcessoSoapIn">
    <wsdl:part name="parameters" element="tns:ObterAcesso" />
  </wsdl:message>
  <wsdl:message name="ObterAcessoSoapOut">
    <wsdl:part name="parameters" element="tns:ObterAcessoResponse" />
  </wsdl:message>
  <wsdl:message name="ObterSessionIDSoapIn">
    <wsdl:part name="parameters" element="tns:ObterSessionID" />
  </wsdl:message>
  <wsdl:message name="ObterSessionIDSoapOut">
    <wsdl:part name="parameters" element="tns:ObterSessionIDResponse" />
  </wsdl:message>
  <wsdl:portType name="PermissaoSoap">
    <wsdl:operation name="Funcionalidade">
      <wsdl:input message="tns:FuncionalidadeSoapIn" />
      <wsdl:output message="tns:FuncionalidadeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterUsuario">
      <wsdl:input message="tns:ObterUsuarioSoapIn" />
      <wsdl:output message="tns:ObterUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterPerfil">
      <wsdl:input message="tns:ObterPerfilSoapIn" />
      <wsdl:output message="tns:ObterPerfilSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterLogin">
      <wsdl:input message="tns:ObterLoginSoapIn" />
      <wsdl:output message="tns:ObterLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterNome">
      <wsdl:input message="tns:ObterNomeSoapIn" />
      <wsdl:output message="tns:ObterNomeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Programador">
      <wsdl:input message="tns:ProgramadorSoapIn" />
      <wsdl:output message="tns:ProgramadorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetorUsuario">
      <wsdl:input message="tns:SetorUsuarioSoapIn" />
      <wsdl:output message="tns:SetorUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterPessoa">
      <wsdl:input message="tns:ObterPessoaSoapIn" />
      <wsdl:output message="tns:ObterPessoaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterAcesso">
      <wsdl:input message="tns:ObterAcessoSoapIn" />
      <wsdl:output message="tns:ObterAcessoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterSessionID">
      <wsdl:input message="tns:ObterSessionIDSoapIn" />
      <wsdl:output message="tns:ObterSessionIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PermissaoSoap" type="tns:PermissaoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Funcionalidade">
      <soap:operation soapAction="http://tempuri.org/Funcionalidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterUsuario">
      <soap:operation soapAction="http://tempuri.org/ObterUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterPerfil">
      <soap:operation soapAction="http://tempuri.org/ObterPerfil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterLogin">
      <soap:operation soapAction="http://tempuri.org/ObterLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterNome">
      <soap:operation soapAction="http://tempuri.org/ObterNome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Programador">
      <soap:operation soapAction="http://tempuri.org/Programador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetorUsuario">
      <soap:operation soapAction="http://tempuri.org/SetorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterPessoa">
      <soap:operation soapAction="http://tempuri.org/ObterPessoa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterAcesso">
      <soap:operation soapAction="http://tempuri.org/ObterAcesso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterSessionID">
      <soap:operation soapAction="http://tempuri.org/ObterSessionID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PermissaoSoap12" type="tns:PermissaoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Funcionalidade">
      <soap12:operation soapAction="http://tempuri.org/Funcionalidade" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterUsuario">
      <soap12:operation soapAction="http://tempuri.org/ObterUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterPerfil">
      <soap12:operation soapAction="http://tempuri.org/ObterPerfil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterLogin">
      <soap12:operation soapAction="http://tempuri.org/ObterLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterNome">
      <soap12:operation soapAction="http://tempuri.org/ObterNome" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Programador">
      <soap12:operation soapAction="http://tempuri.org/Programador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetorUsuario">
      <soap12:operation soapAction="http://tempuri.org/SetorUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterPessoa">
      <soap12:operation soapAction="http://tempuri.org/ObterPessoa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterAcesso">
      <soap12:operation soapAction="http://tempuri.org/ObterAcesso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterSessionID">
      <soap12:operation soapAction="http://tempuri.org/ObterSessionID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Permissao">
    <wsdl:port name="PermissaoSoap" binding="tns:PermissaoSoap">
      <soap:address location="https://sistemas.educacao.ma.gov.br/acesso/Permissao.asmx" />
    </wsdl:port>
    <wsdl:port name="PermissaoSoap12" binding="tns:PermissaoSoap12">
      <soap12:address location="https://sistemas.educacao.ma.gov.br/acesso/Permissao.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>